body {
    background-image: url(../images/main.jpg);
    background-color: #09d3d352;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-box {
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
label{
    color: #05ce69;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #333;
}
span{
    margin-top: 0px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: #04ca50;
}

input[type="submit"] {
    background-color: #2fe06a;
    color: #fff;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #6cec97;
    
}

.error {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}

.success {
    color: #4caf50;
    text-align: center;
    font-weight: bold;
}
